#ourServices ul {
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
}

#ourServices li {
    padding-left: 30px;
    background: url("../assets/list_bullet.png") no-repeat left center;
    line-height: 36px;
}

.carousel {
    width: 100%;
}

.testimony {
    width: 100%;
    background-color: #f1f3ff;
    box-sizing: border-box;
    border-radius: 10px;
}

.rater-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    @media only screen and (min-width: 768px) {
        margin-bottom: 0;
        width: 25%;
    }
}

.rater-text {
    @media only screen and (min-width: 768px) {
        width: 75%;
    }
}

.prev-button, .next-button {
    background-color: #5CB85F;
    border: 1px solid #5CB85F;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 1rem 0.5rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.our-service-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

#testimonial {
    overflow-x: visible;
    width: 100%;
}

#jumbotron {
    background-color: #0D28A6;
    color: white;
    border-radius: 10px;
}